


<!DOCTYPE html>



<html lang="en" class="no-js">







<head>



<meta charset="UTF-8" />



<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">



<meta name="viewport" content="width=device-width, initial-scale=1.0">



<title>Blueprint: Multi-Level Menu</title>



<meta name="description" content="Blueprint: A basic template for a responsive multi-level menu" />



<meta name="keywords" content="blueprint, template, html, css, menu, responsive, mobile-friendly" />



<meta name="author" content="Codrops" />



<link rel="shortcut icon" href="favicon.ico">



<!-- food icons -->



<link rel="stylesheet" type="text/css" href="{{ static('css/organicfoodicons.css') }}" />



<!-- demo styles -->



<link rel="stylesheet" type="text/css" href="{{ static('css/demo.css') }}" />



<!-- menu styles -->



<link rel="stylesheet" type="text/css" href="{{ static('css/component.css') }}" />



<script src="{{ static('js/modernizr-custom.js') }}"></script>



</head>







<body>



<!-- Main container -->



<div class="container">



<!-- Blueprint header -->



<header class="bp-header cf">



<div class="dummy-logo">



<div class="dummy-icon foodicon foodicon--coconut"></div>



<h2 class="dummy-heading">BentoBox Theme Settings</h2>



</div>



<div class="bp-header__main">



<span class="bp-header__present">Blueprint <span class="bp-tooltip bp-icon bp-icon--about" data-content="The Blueprints are a collection of basic and minimal website concepts, components, plugins and layouts with minimal style for easy adaption and usage, or simply for inspiration."></span></span>



<h1 class="bp-header__title">Multi-Level Menu</h1>



<nav class="bp-nav">



<a class="bp-nav__item bp-icon bp-icon--prev" href="http://tympanus.net/Blueprints/PageStackNavigation/" data-info="previous Blueprint"><span>Previous Blueprint</span></a>



<!--a class="bp-nav__item bp-icon bp-icon--next" href="" data-info="next Blueprint"><span>Next Blueprint</span></a-->



<a class="bp-nav__item bp-icon bp-icon--drop" href="http://tympanus.net/codrops/?p=25521" data-info="back to the Codrops article"><span>back to the Codrops article</span></a>



<a class="bp-nav__item bp-icon bp-icon--archive" href="http://tympanus.net/codrops/category/blueprints/" data-info="Blueprints archive"><span>Go to the archive</span></a>



</nav>



</div>



</header>



<button class="action action--open" aria-label="Open Menu"><span class="icon icon--menu"></span></button>



<nav id="ml-menu" class="menu">



<button class="action action--close" aria-label="Close Menu"><span class="icon icon--cross"></span></button>



<div class="menu__wrap">



<ul data-menu="main" class="menu__level" tabindex="-1" role="menu" aria-label="All">

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-1" aria-owns="submenu-1" href="#">Logo</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2" aria-owns="submenu-2" href="#">Layout</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-3" aria-owns="submenu-3" href="#">Colors</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-4" aria-owns="submenu-4" href="#">Typography</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-5" aria-owns="submenu-5" href="#">Calls to Action</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-6" aria-owns="submenu-6" href="#">Custom Styles</a></li>

</ul>



<!-- Submenu 1 -->

<ul data-menu="submenu-1" id="submenu-1" class="menu__level" tabindex="-1" role="menu" aria-label="Logo">

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-1-1" aria-owns="submenu-1-1" href="#">Main Logo</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-1-2" aria-owns="submenu-1-2" href="#">Mobile</a></li>

</ul>



<!-- Submenu 1-1 -->

<ul data-menu="submenu-1-1" id="submenu-1-1" class="menu__level" tabindex="-1" role="menu" aria-label="Main Logo">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Sticky Logo</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Desktop Logo Centered</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Overlays Hero Image</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Desktop Logo Max Width</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Desktop Logo Max Height</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Desktop Logo Collapsed Max Width</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Desktop Logo Collapsed Max Height</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Desktop Logo Max Width</a></li>

</ul>


<!-- Submenu 1-2 -->

<ul data-menu="submenu-1-2" id="submenu-1-2" class="menu__level" tabindex="-1" role="menu" aria-label="Mobile">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Logo</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Logo Max Width</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Logo Max Height</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Logo Collapsed Max Width</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Max width in collapsed header. (Default: 90px)</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Logo Collapsed Max Height</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Max height in collapsed header. (Default: 30px)</a></li>

</ul>



<!-- Submenu 2 -->

<ul data-menu="submenu-2" id="submenu-2" class="menu__level" tabindex="-1" role="menu" aria-label="Layout Options">

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2-1" aria-owns="submenu-2-1" href="#">Navigation</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2-2" aria-owns="submenu-2-2" href="#">Footer Styles</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2-3" aria-owns="submenu-2-3" href="#">Form Styles</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2-4" aria-owns="submenu-2-4" href="#">Map Settings</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2-5" aria-owns="submenu-2-5" href="#">Mobile</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2-6" aria-owns="submenu-2-6" href="#">Flexible Content</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2-7" aria-owns="submenu-2-7" href="#">Dividers</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2-8" aria-owns="submenu-2-8" href="#">Grid Columns</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2-9" aria-owns="submenu-2-9" href="#">Menu & Catering Settings</a></li>

</ul>


<!-- Submenu 2-1 -->

<ul data-menu="submenu-2-1" id="submenu-2-1" class="menu__level" tabindex="-1" role="menu" aria-label="Navigation">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Make Sticky</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Background Image</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Add Shadow</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Display Address</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Display Phone Number</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Make Address Sticky</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Address Background Image</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Show Social icons in Desktop Address Bar</a></li>

</ul>



<!-- Submenu 2-2 -->

<ul data-menu="submenu-2-2" id="submenu-2-1" class="menu__level" tabindex="-1" role="menu" aria-label="Footer Styles">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Sticky</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Background Image</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Display Social Media</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Make Powered by Bento Sticky</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Display Hospitality Footer</a></li>

</ul>


<!-- Submenu 2-3 -->

<ul data-menu="submenu-2-3" id="submenu-2-3" class="menu__level" tabindex="-1" role="menu" aria-label="Form Styles">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Main Field Stroke Weight</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Make Main Field Uppercase</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Alternate Field Stroke Weight</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Alternate Field Uppercase</a></li>

</ul>

<!-- Submenu 2-4 -->
<ul data-menu="submenu-2-4" id="submenu-2-4" class="menu__level" tabindex="-1" role="menu" aria-label="Map Settings">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Map Marker</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Map Styles</a></li>

</ul>

<!-- Submenu 2-5 -->
<ul data-menu="submenu-2-5" id="submenu-2-5" class="menu__level" tabindex="-1" role="menu" aria-label="Mobile">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Display Phone Number</a></li>

</ul>


<!-- Submenu 2-6 -->

<ul data-menu="submenu-2-6" id="submenu-2-6" class="menu__level" tabindex="-1" role="menu" aria-label="Flexible Content">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Featured Box Items Are Clickable</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Featured Box Items Max To Display</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Split Overlay Background Color</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Split Overlay Background Texture</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Split Overlay Vertically Center Content</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Split Overlay Minimum Height</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Overlay Background</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Main Content Boxed</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Always Add Scroll Button To Heros</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Display Location Name on Location Pages</a></li>

</ul>

<!-- Submenu 2-7 -->

<ul data-menu="submenu-2-7" id="submenu-2-7" class="menu__level" tabindex="-1" role="menu" aria-label="Dividers">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Weight</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Double</a></li>

</ul>


<!-- Submenu 2-8 -->

<ul data-menu="submenu-2-8" id="submenu-2-8" class="menu__level" tabindex="-1" role="menu" aria-label="Grid Columns">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Catering</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Events</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Galleries</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Jobs</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Locations</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Menus</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">News</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Press</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Products</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Team</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Venues</a></li>

</ul>


<!-- Submenu 2-9 -->

<ul data-menu="submenu-2-9" id="submenu-2-9" class="menu__level" tabindex="-1" role="menu" aria-label="Menu & Catering Settings">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Show Menu Prices Exactly as Entered</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Catering Uses Uppercase Title</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Catering Stroke Weight</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">No Margin Around Catering Text</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Hide Catering Product Description</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Use Placeholder Image in Catering Menu if No Image Uploaded</a></li>

</ul>


<!-- Submenu 3 -->

<ul data-menu="submenu-3" id="submenu-3" class="menu__level" tabindex="-1" role="menu" aria-label="Colors">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Primary Color</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Accent Colors</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-3-1" aria-owns="submenu-3-1" href="#">Navigation</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-3-2" aria-owns="submenu-3-2" href="#">Background Colors</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-3-3" aria-owns="submenu-3-3" href="#">Type Colors</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-3-4" aria-owns="submenu-3-4" href="#">Address Bar</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Divider Color</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-3-5" aria-owns="submenu-3-5" href="#">Buttons</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-3-6" aria-owns="submenu-3-6" href="#">Forms</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-3-7" aria-owns="submenu-3-7" href="#">Catering</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-3-8" aria-owns="submenu-3-8" href="#">Footer</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-3-9" aria-owns="submenu-3-9" href="#">Powered by Bento</a></li>

</ul>

<!-- Submenu 3-1 -->

<ul data-menu="submenu-3-1" id="submenu-3-1" class="menu__level" tabindex="-1" role="menu" aria-label="Navigation">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Navigation Bar Background</a></li>

</ul>

<!-- Submenu 3-2 -->

<ul data-menu="submenu-3-2" id="submenu-3-2" class="menu__level" tabindex="-1" role="menu" aria-label="Background Colors">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Main Content Background</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Main Content Background Image</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Newsletter Form Uses Alt Colors</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Reservations Form Uses Alt Colors</a></li>

</ul>

<!-- Submenu 3-3 -->

<ul data-menu="submenu-3-3" id="submenu-3-3" class="menu__level" tabindex="-1" role="menu" aria-label="Type Colors">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Body Type</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">H1</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">H2</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">H3</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Inline Text Link Color</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Link Hover Color</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Address Font Color</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Address Hover Color</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Nav Bar Hover</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Nav Bar Active</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Main Button Font</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Main Button Hover Font</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Alternate Button Font</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Alternate Button Hover Font</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Footer Navigation Font</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Footer Navigation Font Hover </a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Footer Navigation Font Active</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Powered By Bento Font</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Powered By Bento Font Hover</a></li>

</ul>

<!-- Submenu 3-4 -->

<ul data-menu="submenu-3-4" id="submenu-3-4" class="menu__level" tabindex="-1" role="menu" aria-label="Address Bar">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Address Bar Background</a></li>

<!-- Submenu 3-5 -->

<ul data-menu="submenu-3-5" id="submenu-3-5" class="menu__level" tabindex="-1" role="menu" aria-label="Buttons">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Main Button</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Main Button Background</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Main Button Stroke</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Main Button Hover Background</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Main Button Hover Stroke</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Alternate Button Background</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Alternate Button Stroke</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Alternate Button Hover Background</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Alternate Button Hover Stroke</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Primary Call to Action Button Uses Alt Color</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Secondary Call to Action Button Uses Alt Color</a></li>

</ul>

<!-- Submenu 3-6 -->

<ul data-menu="submenu-3-6" id="submenu-3-6" class="menu__level" tabindex="-1" role="menu" aria-label="Forms">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Main Form</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Alternate Form</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Main Form Field Stroke</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Main Form Field Background</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Alternate Form Field Stroke</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Alternate Form Field Background</a></li>

</ul>

<!-- Submenu 3-7 -->

<ul data-menu="submenu-3-7" id="submenu-3-7" class="menu__level" tabindex="-1" role="menu" aria-label="Catering">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Catering Item Background</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Catering Item Stroke</a></li>

</ul>

<!-- Submenu 3-8 -->

<ul data-menu="submenu-3-8" id="submenu-3-8" class="menu__level" tabindex="-1" role="menu" aria-label="Footer">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Footer Background</a></li>

</ul>

<!-- Submenu 3-9 -->

<ul data-menu="submenu-3-8" id="submenu-3-8" class="menu__level" tabindex="-1" role="menu" aria-label="Powered by Bento">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Powered By Bento Backgournd</a></li>

</ul>

<!-- Submenu 4 -->

<ul data-menu="submenu-4" id="submenu-4" class="menu__level" tabindex="-1" role="menu" aria-label="Typography">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Custom Fonts</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-4-1" aria-owns="submenu-4-1" href="#">Navigation</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-4-2" aria-owns="submenu-4-2" href="#">Body & General Text Styles</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-4-3" aria-owns="submenu-4-3" href="#">H1 Text Styles</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-4-4" aria-owns="submenu-4-4" href="#">H2 Text Styles</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-4-5" aria-owns="submenu-4-5" href="#">H3 Text Styles</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-4-6" aria-owns="submenu-4-6" href="#">Inline Text Link Styles</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Main Form Text Uppercase</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Alternate Form Text Uppercase</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-4-7" aria-owns="submenu-4-7" href="#">Buttons </a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-4-8" aria-owns="submenu-4-8" href="#">Footer</a></li>

</ul>

<!-- Submenu 4-1 -->

<ul data-menu="submenu-4-1" id="submenu-4-1" class="menu__level" tabindex="-1" role="menu" aria-label="Navigation">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Font Family</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Custom Font</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Size</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Weight</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Uppercase</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Letter Spacing</a></li>

</ul>


<!-- Submenu 4-2 -->

<ul data-menu="submenu-4-2" id="submenu-4-2" class="menu__level" tabindex="-1" role="menu" aria-label="Body & General Text Styles">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Font Family</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Custom Font</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Size</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Weight</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Uppercase</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Letter Spacing</a></li>

</ul>


<!-- Submenu 4-3 -->

<ul data-menu="submenu-4-3" id="submenu-4-3" class="menu__level" tabindex="-1" role="menu" aria-label="H1 Text Styles">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Font Family</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Size</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Weight</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Uppercase</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Letter Spacing</a></li>

</ul>


<!-- Submenu 4-4 -->

<ul data-menu="submenu-4-4" id="submenu-4-4" class="menu__level" tabindex="-1" role="menu" aria-label="H2 Text Styles">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Font Family</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Size</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Weight</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Uppercase</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Letter Spacing</a></li>

</ul>

<!-- Submenu 4-5 -->

<ul data-menu="submenu-4-5" id="submenu-4-5" class="menu__level" tabindex="-1" role="menu" aria-label="H3 Text Styles">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Font Family</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Size</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Weight</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Uppercase</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Letter Spacing</a></li>

</ul>

<!-- Submenu 4-6 -->

<ul data-menu="submenu-4-6" id="submenu-4-6" class="menu__level" tabindex="-1" role="menu" aria-label="Inline Text Styles">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Underline</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Hover Underline</a></li>

</ul>

<!-- Submenu 4-7 -->

<ul data-menu="submenu-4-7" id="submenu-4-7" class="menu__level" tabindex="-1" role="menu" aria-label="Buttons">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Font Family</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Custom Font</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Size</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Weight</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Uppercase</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Letter Spacing</a></li>

</ul>

<!-- Submenu 4-8 -->

<ul data-menu="submenu-4-8" id="submenu-4-8" class="menu__level" tabindex="-1" role="menu" aria-label="Footer">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Font Family</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Custom Font</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Size</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Weight</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Uppercase</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Letter Spacing</a></li>

</ul>

<!-- Submenu 5 -->

<ul data-menu="submenu-5" id="submenu-5" class="menu__level" tabindex="-1" role="menu" aria-label="Calls to Action">

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-5-1" aria-owns="submenu-5-1" href="#">Primary Call To Action</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-5-2" aria-owns="submenu-5-2" href="#">Secondary Call To Action</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-5-3" aria-owns="submenu-5-3" href="#">Button Styles</a></li>

</ul>

<!-- Submenu 5-1 -->

<ul data-menu="submenu-5-1" id="submenu-5-1" class="menu__level" tabindex="-1" role="menu" aria-label="Primary Call To Action">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Button Type</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Button Label</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Online Ordering</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Mobile Position</a></li>

</ul>

<!-- Submenu 5-2 -->

<ul data-menu="submenu-5-2" id="submenu-5-2" class="menu__level" tabindex="-1" role="menu" aria-label="Secondary Call To Action">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Button Type</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Button Label</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Email Signup</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Mobile Position</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Fade Slider</a></li>

</ul>

<!-- Submenu 5-3 -->

<ul data-menu="submenu-5-3" id="submenu-5-3" class="menu__level" tabindex="-1" role="menu" aria-label="Button Styles">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Stroke Weight</a></li>

</ul>

<!-- Submenu 6 -->

<ul data-menu="submenu-6" id="submenu-6" class="menu__level" tabindex="-1" role="menu" aria-label="Custom Styles">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">CSS</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">JavaScript</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Bootstrap Variable Overrides</a></li>

</ul>


</div>

</nav>

<div class="content">

<p class="info">Please choose a category</p>

<!-- Ajax loaded content here -->

</div>

</div>

<!-- /view -->



<script src="{{ static('js/classie.js') }}"></script>



<script src="{{ static('js/dummydata.js')}}"></script>



<script src="{{ static('js/main.js')}}"></script>



<script>



(function() {



var menuEl = document.getElementById('ml-menu'),



mlmenu = new MLMenu(menuEl, {



// breadcrumbsCtrl : true, // show breadcrumbs



// initialBreadcrumb : 'all', // initial breadcrumb text



backCtrl : false, // show back button



// itemsDelayInterval : 60, // delay between each menu item sliding animation



onItemClick: loadDummyData // callback: item that doesn´t have a submenu gets clicked - onItemClick([event], [inner HTML of the clicked item])



});







// mobile menu toggle



var openMenuCtrl = document.querySelector('.action--open'),



closeMenuCtrl = document.querySelector('.action--close');







openMenuCtrl.addEventListener('click', openMenu);



closeMenuCtrl.addEventListener('click', closeMenu);







function openMenu() {



classie.add(menuEl, 'menu--open');



closeMenuCtrl.focus();



}







function closeMenu() {



classie.remove(menuEl, 'menu--open');



openMenuCtrl.focus();



}







// simulate grid content loading



var gridWrapper = document.querySelector('.content');







function loadDummyData(ev, itemName) {



ev.preventDefault();







closeMenu();



gridWrapper.innerHTML = '';



classie.add(gridWrapper, 'content--loading');



setTimeout(function() {



classie.remove(gridWrapper, 'content--loading');



gridWrapper.innerHTML = '<ul class="products">' + dummyData[itemName] + '<ul>';



}, 700);



}



})();



</script>



</body>







</html>






