


<!DOCTYPE html>



<html lang="en" class="no-js">







<head>



<meta charset="UTF-8" />



<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">



<meta name="viewport" content="width=device-width, initial-scale=1.0">



<title>Blueprint: Multi-Level Menu</title>



<meta name="description" content="Blueprint: A basic template for a responsive multi-level menu" />



<meta name="keywords" content="blueprint, template, html, css, menu, responsive, mobile-friendly" />



<meta name="author" content="Codrops" />



<link rel="shortcut icon" href="favicon.ico">



<!-- food icons -->



<link rel="stylesheet" type="text/css" href="{{ static('css/organicfoodicons.css') }}" />



<!-- demo styles -->



<link rel="stylesheet" type="text/css" href="{{ static('css/demo.css') }}" />



<!-- menu styles -->



<link rel="stylesheet" type="text/css" href="{{ static('css/component.css') }}" />



<script src="{{ static('js/modernizr-custom.js') }}"></script>



</head>







<body>



<!-- Main container -->



<div class="container">



<!-- Blueprint header -->



<header class="bp-header cf">



<div class="dummy-logo">



<div class="dummy-icon foodicon foodicon--coconut"></div>



<h2 class="dummy-heading">BentoBox Theme Settings</h2>



</div>



<div class="bp-header__main">



<span class="bp-header__present">Blueprint <span class="bp-tooltip bp-icon bp-icon--about" data-content="The Blueprints are a collection of basic and minimal website concepts, components, plugins and layouts with minimal style for easy adaption and usage, or simply for inspiration."></span></span>



<h1 class="bp-header__title">Multi-Level Menu</h1>



<nav class="bp-nav">



<a class="bp-nav__item bp-icon bp-icon--prev" href="http://tympanus.net/Blueprints/PageStackNavigation/" data-info="previous Blueprint"><span>Previous Blueprint</span></a>



<!--a class="bp-nav__item bp-icon bp-icon--next" href="" data-info="next Blueprint"><span>Next Blueprint</span></a-->



<a class="bp-nav__item bp-icon bp-icon--drop" href="http://tympanus.net/codrops/?p=25521" data-info="back to the Codrops article"><span>back to the Codrops article</span></a>



<a class="bp-nav__item bp-icon bp-icon--archive" href="http://tympanus.net/codrops/category/blueprints/" data-info="Blueprints archive"><span>Go to the archive</span></a>



</nav>



</div>



</header>


<button class="action action--open" aria-label="Open Menu"><span class="icon icon--menu"></span></button>



<nav id="ml-menu" class="menu">



<button class="action action--close" aria-label="Close Menu"><span class="icon icon--cross"></span></button>



<div class="menu__wrap">



<ul data-menu="main" class="menu__level" tabindex="-1" role="menu" aria-label="All">

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-1" aria-owns="submenu-1" href="#">Logo</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2" aria-owns="submenu-2" href="#">Layout & Content</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-3" aria-owns="submenu-3" href="#">Colors and Textures</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-4" aria-owns="submenu-4" href="#">Typography</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-5" aria-owns="submenu-5" href="#">Calls to Action</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-6" aria-owns="submenu-6" href="#">Custom Styles</a></li>

</ul>



<!-- Submenu 1 -->

<ul data-menu="submenu-1" id="submenu-1" class="menu__level" tabindex="-1" role="menu" aria-label="Logo">

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-1-1" aria-owns="submenu-1-1" href="#">Desktop Logo</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-1-2" aria-owns="submenu-1-2" href="#">Mobile Logo</a></li>

</ul>



<!-- Submenu 1-1 -->

<ul data-menu="submenu-1-1" id="submenu-1-1" class="menu__level" tabindex="-1" role="menu" aria-label="Desktop Logo">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Desktop Logo Centered [checkbox]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Sticky Logo [upload]</a></li>
  
<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Desktop Logo Max Width [input]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Desktop Logo Max Height [input]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Desktop Logo Sticky Max Width [input]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Desktop Logo Sticky Max Height [input]</a></li>


</ul>


<!-- Submenu 1-2 -->

<ul data-menu="submenu-1-2" id="submenu-1-2" class="menu__level" tabindex="-1" role="menu" aria-label="Mobile Logo">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Mobile Logo [upload]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Logo Max Width [input]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Logo Max Height [input]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Logo Sticky Max Width [input]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Logo Sticky Max Height [input]</a></li>


</ul>



<!-- Submenu 2 -->

<ul data-menu="submenu-2" id="submenu-2" class="menu__level" tabindex="-1" role="menu" aria-label="Layout Options">


<!-- removed<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2-0" aria-owns="submenu-2-0" href="#">Overall Site & Heroes</a></li> -->

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2-1" aria-owns="submenu-2-1" href="#">Header</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2-2" aria-owns="submenu-2-2" href="#">Footer</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2-6" aria-owns="submenu-2-6" href="#">Content</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2-4" aria-owns="submenu-2-4" href="#">Location & Map Settings</a></li>

<!-- removed<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2-5" aria-owns="submenu-2-5" href="#">Mobile</a></li>-->

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2-8" aria-owns="submenu-2-8" href="#">Grids</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2-9" aria-owns="submenu-2-9" href="#">Menu & Catering Settings</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2-3" aria-owns="submenu-2-3" href="#">Form Styles</a></li>

</ul>

<!-- Submenu 2-0 --> <!-- Currently no content -->


<!-- Submenu 2-1 -->

<ul data-menu="submenu-2-1" id="submenu-2-1" class="menu__level" tabindex="-1" role="menu" aria-label="Header">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Navigation Overlays Hero Image [checkbox reveal]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Make Navigation Sticky [checkbox]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Add Shadow to Navigation [checkbox]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Show Social icons in Desktop Address Bar [checkbox]</a></li>


</ul>



<!-- Submenu 2-2 -->

<ul data-menu="submenu-2-2" id="submenu-2-1" class="menu__level" tabindex="-1" role="menu" aria-label="Footer Styles">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Sticky [checkbox]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Display Social Media [checkbox]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Make Powered by Bento Sticky [checkbox]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Display Hospitality Footer [checkbox reveal]</a></li>

</ul>


<!-- Submenu 2-3 -->

<ul data-menu="submenu-2-3" id="submenu-2-3" class="menu__level" tabindex="-1" role="menu" aria-label="Form Styles">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Input Field Stroke Weight [input]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Input Field Uppercase[checkbox]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Alt Input Field Stroke Weight [input]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Alt Input Field Uppercase [checkbox]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Newsletter Form Uses Alt Colors [checkbox]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Reservations Form Uses Alt Colors [checkbox]</a></li>

</ul>

<!-- Submenu 2-4 -->
<ul data-menu="submenu-2-4" id="submenu-2-4" class="menu__level" tabindex="-1" role="menu" aria-label="Location & Map Settings">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Display Address [checkbox]</a></li>
  
<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Make Address Sticky [checkbox]</a></li>
  
<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Display Phone Number - Desktop [checkbox]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Display Phone Number - Mobile [checkbox]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Display Location Name on Location Pages [checkbox]</a></li>
  
<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Map Marker [upload]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Map Styles [embed field]</a></li>

</ul>

<!-- Submenu 2-5 --> <!-- Currently no content -->


<!-- Submenu 2-6 -->

<ul data-menu="submenu-2-6" id="submenu-2-6" class="menu__level" tabindex="-1" role="menu" aria-label="Content">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Main Content Boxed [checkbox]</a></li>
 
<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Always Add Scroll Button To Heros [checkbox]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Fade Slider [checkbox]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Split Overlay Vertically Center Content [checkbox]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Split Overlay Minimum Height [input]</a></li>
  
<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Divider Weight [input]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Divider Double [checkbox]</a></li>

</ul>

<!-- Submenu 2-7 --> <!-- Currently no content -->




<!-- Submenu 2-8 -->

<ul data-menu="submenu-2-8" id="submenu-2-8" class="menu__level" tabindex="-1" role="menu" aria-label="Grids">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Featured Box Items Are Clickable [checkbox]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Featured Box Items Max To Display [input]</a></li>  
  
<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Catering [dropdown]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Events [dropdown]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Galleries [dropdown]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Jobs [dropdown]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Locations [dropdown]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Menus [dropdown]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">News [dropdown]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Press [dropdown]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Products [dropdown]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Team [dropdown]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Venues [dropdown]</a></li>

</ul>


<!-- Submenu 2-9 -->

<ul data-menu="submenu-2-9" id="submenu-2-9" class="menu__level" tabindex="-1" role="menu" aria-label="Menu & Catering Settings">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Show Menu Prices Exactly as Entered [checkbox]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Catering Uses Uppercase Title [checkbox]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Catering Stroke Weight [input]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">No Margin Around Catering Text [checkbox]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Hide Catering Product Description [checkbox]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Use Placeholder Image in Catering Menu if No Image Uploaded [checkbox]</a></li>

</ul>



<!-- Submenu 3 -->

<ul data-menu="submenu-3" id="submenu-3" class="menu__level" tabindex="-1" role="menu" aria-label="Colors and Textures">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Primary Color [input]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Accent Color [input]</a></li>
  
<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Divider Color [input]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-3-2" aria-owns="submenu-3-2" href="#">Background Colors</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-3-3" aria-owns="submenu-3-3" href="#">Typography Colors</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-3-5" aria-owns="submenu-3-5" href="#">Button Colors</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-3-6" aria-owns="submenu-3-6" href="#">Form Colors</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-3-7" aria-owns="submenu-3-7" href="#">Catering Menu Colors</a></li>


</ul>

<!-- Submenu 3-1 --> <!-- No Content -->


<!-- Submenu 3-2 -->

<ul data-menu="submenu-3-2" id="submenu-3-2" class="menu__level" tabindex="-1" role="menu" aria-label="Background Colors & Textures">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Main Content Background Color [picker]</a></li>
  
<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Main Content Background Texture [upload]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Navigation Bar Background Color [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Navigation Bar Background Texture [upload]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Address Bar Background Color [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Address Background Texture [upload]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Footer Background Color [picker]</a></li>
  
<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Footer Background Texture [upload]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Powered By Bento Background Color [picker]</a></li>


<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Overlay Background Color [picker]</a></li>
  
<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Split Overlay Background Color [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Split Overlay Background Texture [upload]</a></li>

</ul>

<!-- Submenu 3-3 -->

<ul data-menu="submenu-3-3" id="submenu-3-3" class="menu__level" tabindex="-1" role="menu" aria-label="Type Colors">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Body Type [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">H1 [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">H2 [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">H3 [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Inline Text Link Color [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Link Hover Color [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Address Font Color [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Address Hover Color [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Main Nav Link [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Main Nav Link Hover [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Main Nav Link Active [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Main Button Label [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Main Button Hover Label [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Alternate Button Label [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Alternate Button Hover Label [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Footer Navigation Label [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Footer Navigation Hover [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Footer Navigation Active [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Powered By Bento Text [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Powered By Bento Text Hover [picker]</a></li>

</ul>

<!-- Submenu 3-4 --> <!-- No Content-->




<!-- Submenu 3-5 -->

<ul data-menu="submenu-3-5" id="submenu-3-5" class="menu__level" tabindex="-1" role="menu" aria-label="Buttons">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Main Button [headline]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Main Button Background [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Main Button Stroke [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Button Stroke Weight [input]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Main Button Hover Background [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Main Button Hover Stroke [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Alternate Button [headline]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Alternate Button Background [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Alternate Button Stroke [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Alternate Button Hover Background [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Alternate Button Hover Stroke [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Primary Call to Action Button Uses Alt Color [checkbox]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Secondary Call to Action Button Uses Alt Color [checkbox]</a></li>

</ul>

<!-- Submenu 3-6 -->

<ul data-menu="submenu-3-6" id="submenu-3-6" class="menu__level" tabindex="-1" role="menu" aria-label="Forms">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Main Form Text[picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Main Form Field Stroke [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Main Form Field Background [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Alternate Form [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Alternate Form Field Stroke [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Alternate Form Field Background [picker]</a></li>

</ul>

<!-- Submenu 3-7 -->

<ul data-menu="submenu-3-7" id="submenu-3-7" class="menu__level" tabindex="-1" role="menu" aria-label="Catering">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Catering Item Background [picker]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Catering Item Stroke [picker]</a></li>

</ul>

<!-- Submenu 3-8 --> <!-- No Content-->


<!-- Submenu 3-9 --> <!-- No Content-->


<!-- Submenu 4 -->

<ul data-menu="submenu-4" id="submenu-4" class="menu__level" tabindex="-1" role="menu" aria-label="Typography">

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-4-0" aria-owns="submenu-4-0" href="#">Custom Fonts</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-4-1" aria-owns="submenu-4-1" href="#">Navigation Fonts</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-4-2" aria-owns="submenu-4-2" href="#">Body & General Text Fonts</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-4-3" aria-owns="submenu-4-3" href="#">H1 Text Fonts</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-4-4" aria-owns="submenu-4-4" href="#">H2 Text Fonts</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-4-5" aria-owns="submenu-4-5" href="#">H3 Text Fonts</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-4-6" aria-owns="submenu-4-6" href="#">Inline Text Link Fonts</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Main Form Text Uppercase</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Alternate Form Text Uppercase</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-4-7" aria-owns="submenu-4-7" href="#">Buttons Fonts</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-4-8" aria-owns="submenu-4-8" href="#">Footer Fonts</a></li>

</ul>

<!-- Submenu 4-0 -->

<ul data-menu="submenu-4-0" id="submenu-4-0" class="menu__level" tabindex="-1" role="menu" aria-label="Custom Fonts">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">[Repeater]</a></li>

</ul>

<!-- Submenu 4-1 -->

<ul data-menu="submenu-4-1" id="submenu-4-1" class="menu__level" tabindex="-1" role="menu" aria-label="Navigation Fonts">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Font Family</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Size</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Weight</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Uppercase</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Letter Spacing</a></li>

</ul>


<!-- Submenu 4-2 -->

<ul data-menu="submenu-4-2" id="submenu-4-2" class="menu__level" tabindex="-1" role="menu" aria-label="Body & General Text Fonts">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Font Family</a></li>


<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Size</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Weight</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Uppercase</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Letter Spacing</a></li>

</ul>


<!-- Submenu 4-3 -->

<ul data-menu="submenu-4-3" id="submenu-4-3" class="menu__level" tabindex="-1" role="menu" aria-label="H1 Text Fonts">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Font Family</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Size</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Weight</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Uppercase</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Letter Spacing</a></li>

</ul>


<!-- Submenu 4-4 -->

<ul data-menu="submenu-4-4" id="submenu-4-4" class="menu__level" tabindex="-1" role="menu" aria-label="H2 Text Fonts">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Font Family</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Size</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Weight</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Uppercase</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Letter Spacing</a></li>

</ul>

<!-- Submenu 4-5 -->

<ul data-menu="submenu-4-5" id="submenu-4-5" class="menu__level" tabindex="-1" role="menu" aria-label="H3 Text Fonts">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Font Family</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Size</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Weight</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Uppercase</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Letter Spacing</a></li>

</ul>

<!-- Submenu 4-6 -->

<ul data-menu="submenu-4-6" id="submenu-4-6" class="menu__level" tabindex="-1" role="menu" aria-label="Inline Text Fonts">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Underline</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Hover Underline</a></li>

</ul>

<!-- Submenu 4-7 -->

<ul data-menu="submenu-4-7" id="submenu-4-7" class="menu__level" tabindex="-1" role="menu" aria-label="Button Fonts">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Font Family</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Size</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Weight</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Uppercase</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Letter Spacing</a></li>

</ul>

<!-- Submenu 4-8 -->

<ul data-menu="submenu-4-8" id="submenu-4-8" class="menu__level" tabindex="-1" role="menu" aria-label="Footer Fonts">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Font Family</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Size</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Weight</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Uppercase</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Letter Spacing</a></li>

</ul>

<!-- Submenu 5 -->

<ul data-menu="submenu-5" id="submenu-5" class="menu__level" tabindex="-1" role="menu" aria-label="Calls to Action">

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-5-1" aria-owns="submenu-5-1" href="#">Primary Call To Action</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-5-2" aria-owns="submenu-5-2" href="#">Secondary Call To Action</a></li>

</ul>

<!-- Submenu 5-1 -->

<ul data-menu="submenu-5-1" id="submenu-5-1" class="menu__level" tabindex="-1" role="menu" aria-label="Primary Call To Action">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Button Type [dropdown]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Button Label [input]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Button Opens New Window [checkbox]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Button Uses Alt Colors [checkbox]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Mobile Position [checkbox]</a></li>

</ul>

<!-- Submenu 5-2 -->

<ul data-menu="submenu-5-2" id="submenu-5-2" class="menu__level" tabindex="-1" role="menu" aria-label="Secondary Call To Action">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Button Type [dropdown]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Button Label [input]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Button Opens New Window [checkbox]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Button Uses Alt Colors [checkbox]</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Mobile Position [checkbox]</a></li>

</ul>

<!-- Submenu 5-3 --> <!-- No Content -->

<!-- Submenu 6 -->

<ul data-menu="submenu-6" id="submenu-6" class="menu__level" tabindex="-1" role="menu" aria-label="Custom Styles">

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Bootstrap Variable Overrides</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">CSS</a></li>

<li class="menu__item" role="menuitem"><a class="menu__link" href="#">JavaScript</a></li>

</ul>


</div>

</nav>

<div class="content">

<img src="http://getbento.imgix.net/accounts/bba6448ea388367541aa31bb6b77c149/media/images/9469500_SINGLE-SCROLL-LANDING.jpg">
  
<p class="info">Please choose a category</p>

<!-- Ajax loaded content here -->

</div>

</div>

<!-- /view -->



<script src="{{ static('js/classie.js') }}"></script>



<script src="{{ static('js/dummydata.js')}}"></script>



<script src="{{ static('js/main.js')}}"></script>



<script>



(function() {



var menuEl = document.getElementById('ml-menu'),



mlmenu = new MLMenu(menuEl, {



// breadcrumbsCtrl : true, // show breadcrumbs



// initialBreadcrumb : 'all', // initial breadcrumb text



backCtrl : false, // show back button



// itemsDelayInterval : 60, // delay between each menu item sliding animation



onItemClick: loadDummyData // callback: item that doesn´t have a submenu gets clicked - onItemClick([event], [inner HTML of the clicked item])



});







// mobile menu toggle



var openMenuCtrl = document.querySelector('.action--open'),



closeMenuCtrl = document.querySelector('.action--close');







openMenuCtrl.addEventListener('click', openMenu);



closeMenuCtrl.addEventListener('click', closeMenu);







function openMenu() {



classie.add(menuEl, 'menu--open');



closeMenuCtrl.focus();



}







function closeMenu() {



classie.remove(menuEl, 'menu--open');



openMenuCtrl.focus();



}







// simulate grid content loading



var gridWrapper = document.querySelector('.content');







function loadDummyData(ev, itemName) {



ev.preventDefault();







closeMenu();



gridWrapper.innerHTML = '';



classie.add(gridWrapper, 'content--loading');



setTimeout(function() {



classie.remove(gridWrapper, 'content--loading');



gridWrapper.innerHTML = '<ul class="products">' + dummyData[itemName] + '<ul>';



}, 700);



}



})();



</script>



</body>







</html>






